<!-- app/views/home/_card.html.erb -->
<%= link_to path, class: "p-6 bg-white rounded-lg shadow hover:bg-blue-50 transition flex flex-col items-center" do %>
  <div class="text-4xl mb-2"><%= icon %></div>
  <h3 class="text-lg font-semibold"><%= title %></h3>
<% end %>
