
<h1 class= "text-3xl font-bold bg-blue-500 text-white p-4 rounded">Home</h1>
<%= render 'slides' %>

<h2>Specializations</h2>
<ul>
  <% @specializations.each do |spec| %>
    <li>
      <%= link_to spec.name,
        web_doctors_path(specialization_id: spec.id),
        class: "text-blue-600 hover:underline"
      %>
    </li>
  <% end %>
</ul>
