<!-- app/views/web/home/index.html.erb -->
<h1>Find Doctors in Bangladesh</h1>

<section>
  <h2>Browse by Specialization</h2>
  <ul>
    <% @specializations.each do |s| %>
      <li><%= link_to s.name, web_doctors_path(specialization_id: s.id) %></li>
    <% end %>
  </ul>
</section>

<section>
  <h2>Browse by District</h2>
  <ul>
    <% @districts.each do |d| %>
      <li><%= link_to d.name, web_doctors_path(district_id: d.id) %></li>
    <% end %>
  </ul>
</section>
